{% extends 'jobportal/base.html' %}
{% block body %}
{% if latest_job_list %}
    <ul>
      <h3>Latest job postings</h3>
    {% for job in latest_job_list %}
        {% comment %}
        <li><a href="/jobportal/job/{{ job.id }}/">{{ job.name }}</a></li>
        {% endcomment %}

        <li><a href="{% url 'jobportal:job' job.id %}">{{ job.name }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'jobportal:job-add' %}">Post a job</a>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<br />
<a href="{% url 'jobportal:register' %}">Register an account</a>
<div class="container-fluid">
  <div class="row">

    <a href="{% url 'jobportal:login' %}">Log in</a>
  </div>
</div>
{% endblock %}
