{% extends 'jobportal/base.html' %}
{% block title %}Job posting{% endblock %}
{% block body %}
<h1>Upload Resume</h1>

{% if my_resumes_list %}
    <ul>
      <h3>Latest job postings</h3>
    {% for resume in my_resumes_list %}
    <h5>{{ resume.name }} {{ resume.pub_date}}</h5>
    {% endfor %}

{% else %}
You do not have any resumes uploaded.
{% endif %}

Upload new resume
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% include 'jobportal/form-template.html'  %}
{% comment %}
<label for="first_name">First name:</label>
<input type="text" name="first_name" id="first_name"/>
<input type="submit" value="Submit" />
{% endcomment %}
<button type="submit" value="Submit" />Apply</button>
</form>

<a href="{% url 'jobportal:control-panel' %}">Back to Control Panel</a>

{% endblock %}
